/* From Uiverse.io by Fcodingx */
.card {
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border: 2px solid rgb(106, 166, 139);
  /* border-bottom: 3px solid rgba(255, 255, 255, 0.44);
  border-left: 2px rgba(255, 255, 255, 0.545) outset; */
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.28);
  transform: skewX(10deg);
  transition: 0.4s;
  overflow: hidden;
  z-index: 11;
}

.card:hover {
  height: 344px;
  transform: skew(0deg);
}

@media only screen and (max-width: 400px) {
  .card:hover {
    height: 244px;
    transform: skew(0deg);
  }
}
@media only screen and (min-width: 400px) and (max-width: 750px) {
  .card:hover {
    height: 320px;
    transform: skew(0deg);
  }
}

.align {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  /* color: rgb(218, 244, 237); */
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}

.point-to-left {
  transition: transform 0.5s ease;
}
.point-to-left::before {
  content: "👈";
  padding-left: 6px;
  transition-delay: 1s;
  transform: translateX(10px);
}

.point-to-right {
  transition: transform 0.5s ease;
}
.point-to-right::before {
  content: "👉";
  padding-right: 6px;
  transition-delay: 1s;
  transform: translateX(10px);
}

.card:hover .point-to-left::before {
  transform: translateX(0);
}
.card:hover .point-to-right::before {
  transform: translateX(0);
}
