span.Typewriter__wrapper {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #00ff37 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
span.Typewriter__wrapper::selection {
  background-color: rgba(165, 255, 198, 0.482);
  color: black;
}

.wrapper-type-writer-persian-in-header {
  line-height: 2mrem;
}

.wrapper-type-writer-in-header {
  font-size: 1rem;
  transform: translateY(-20px);
}

.contact-me-animation-rotate {
  transition: rotate 0.4s ease;
}

.contact-me-active-rotate {
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
}

.d-none {
  display: none !important;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ping {
  background: #fff;
  border-radius: 50%;
  border: 50px solid #222;
  width: 20px;
  height: 20px;
  animation: load 1.5s ease-out infinite;
}

@keyframes load {
  0% {
    background: #fff;
    border: 0px solid #fff;
  }
  50% {
    background: #fff;
    border: 100px solid #222;
  }
  100% {
    background: #fff;
    border: 0px solid #222;
  }
}

.rainbow .header-styles {
  background-color: #ffd700;
  z-index: 25;
}
.light .header-styles {
  background-color: transparent;
  z-index: 25;
}
.dark .header-styles {
  background-color: #293a3e;
  color: white;
  z-index: 25;
}

.central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.central-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.light-bg{
  background-image: url("/public/lii.png");

}


.light .intro-about-gradient,
.light .intro-about-gradient,
.light .about-section-gradient,
.light .skills-gradient,
.light .projects-gradient {
  background-image: url("/public/lii.png");
}
.dark .intro-about-gradient,
.dark .intro-about-gradient,
.dark .about-section-gradient,
.dark .skills-gradient,
.dark .projects-gradient {
  background-color: rgba(0, 0, 0, 0.759);
}

.rainbow .intro-about-gradient {
  background: hsla(48, 96%, 53%, 1);
  background: linear-gradient(
    270deg,
    hsla(48, 96%, 53%, 1) 0%,
    hsla(0, 80%, 60%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(48, 96%, 53%, 1) 0%,
    hsla(0, 80%, 60%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(48, 96%, 53%, 1) 0%,
    hsla(0, 80%, 60%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FACC15", endColorstr="#7DD3FC", GradientType=1 );
}

/* .rainbow .about-section-gradient {
  background: hsla(0, 80%, 60%, 1);

  background: linear-gradient(
    270deg,
    hsla(0, 100%, 75%, 1) 0%,
    hsla(0, 100%, 34%, 1) 50%,
    hsla(0, 100%, 16%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(0, 100%, 75%, 1) 0%,
    hsla(0, 100%, 34%, 1) 50%,
    hsla(0, 100%, 16%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(0, 100%, 75%, 1) 0%,
    hsla(0, 100%, 34%, 1) 50%,
    hsla(0, 100%, 16%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF7E7E", endColorstr="#AC0000", GradientType=1 );
} */

.rainbow .skills-gradient {
  background: hsla(0, 100%, 16%, 1) 0%;
  background: linear-gradient(
    270deg,
    hsla(0, 80%, 60%, 1) 0%,
    rgb(3, 12, 32) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(0, 80%, 60%, 1) 0%,
    rgb(3, 12, 32) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(0, 80%, 60%, 1) 0%,
    rgb(3, 12, 32) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF7E7E", endColorstr="#AC0000", GradientType=1 );
}

.rainbow .projects-gradient {
  background: rgb(3, 12, 32);
  background: linear-gradient(
    270deg,
    hsla(221, 83%, 7%, 1) 0%,
    hsla(158, 75%, 27%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(221, 83%, 7%, 1) 0%,
    hsla(158, 75%, 27%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(221, 83%, 7%, 1) 0%,
    hsla(158, 75%, 27%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF7E7E", endColorstr="#AC0000", GradientType=1 );
}

.selection-text-background::selection {
  background-color: rgba(57, 212, 114, 0.92);
  color: black;
}

.glassMorphism {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  /* border-radius: 10px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.iconBox {
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}
.iconBox:hover {
  border-radius: 10px;
  padding: 7px;
  border: 1px solid rgb(191, 191, 191);

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.success-box {
  animation-name: succesBoxAnimate;
  animation-duration: 3s;
}

@keyframes succesBoxAnimate {
  from {
    background-color: rgb(23, 255, 23);
  }
  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.scale-animation {
  animation: scaleIcon 3s ease alternate infinite;
}

@keyframes scaleIcon {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

.rotate-animation {
  /* animation: rotateIconBox 3s linear forwards infinite; */
}
.rotate-animation:hover {
  background-color: #ff13623d;
  border: 2px solid #ff13623d;
}
.rotate-animation2 {
  /* animation: rotateIconBox 3s linear forwards infinite; */
}
.rotate-animation2:hover {
  background-color: #ff13623d;
  color: white;
  border: 1px solid white;
}

@keyframes rotateIconBox {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-box-animation {
  animation: contactBoxAnimation 1s linear forwards;
}

@keyframes contactBoxAnimation {
  from {
    bottom: -233px;
  }
  to {
    bottom: 25px;
  }
}

.embed-animated-text-background {
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 100px;
  font-weight: 700;
  left: 0;
  line-height: 0.9;
  opacity: 0.06;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}
.rainbow .embed-animated-text-background {
  color: #fff;
}
.light .embed-animated-text-background {
  color: green;
}

.embed-animated-text-background > span {
  animation: slideUp 20s linear infinite;
  display: block;
  white-space: nowrap;
  will-change: transform, opacity;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.image-me-styles {
  width: 200px;
  height: 300px;
  position: absolute;
  bottom: -2.2rem;
  right: 0rem;
  z-index: 10;
}

.image-me-styles {
  /* inset: auto 10vw 10vw auto; */
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0%, 0%);
}
.blockquote-eng-mode {
  border-left: 3px solid;
  color: #1a1a1a;
  line-height: 1.8em;
  padding: 0.5em 0.5em;
  position: absolute;
  left:30px;
  top:6px;
  left: 30px;
  top: 6px;
  transition: 0.2s border ease-in-out;
  z-index: 0;
}
.blockquote-eng-mode:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: rgba(222, 33, 24, 1);
  width: 5px;
  margin-top: -1em;
}
.blockquote-eng-mode:after {
  content: "\002C \002C";
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: rgb(249, 255, 65);
  font-family: "Ionicons";
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.85em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.blockquote-eng-mode:active:after {
  transform: rotateY(360deg);
}
.blockquote-eng-mode:hover:after {
  transform: rotateY(360deg);
}

#link_1{
  color:rgb(250 204 21);
  text-decoration: underline;
  text-underline-offset: 7px;
   
}
.low_weight{
  font-weight:500;
} 