span.Typewriter__wrapper {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #00ff37 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
span.Typewriter__wrapper::selection {
  background-color: rgba(165, 255, 198, 0.482);
  color: black;


}
 

.t-w-parent > div > span {
  line-height: 7rem;

}
.wrapper-type-writer-persian-in-header {
  line-height: 2mrem;
}

.wrapper-type-writer-in-header {
  font-size: 1rem;
  transform: translateY(-20px);
}

.d-none {
  display: none !important;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ping {
  background: #fff;
  border-radius: 50%;
  border: 50px solid #222;
  width: 20px;
  height: 20px;
  animation: load 1.5s ease-out infinite;
}

@keyframes load {
  0% {
    background: #fff;
    border: 0px solid #fff;
  }
  50% {
    background: #fff;
    border: 100px solid #222;
  }
  100% {
    background: #fff;
    border: 0px solid #222;
  }
}

.header-styles {
  background-color: #ffd700;
}

.central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.central-about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.intro-about-gradient {
  background: hsla(48, 96%, 53%, 1);
  background: linear-gradient(
    270deg,
    hsla(48, 96%, 53%, 1) 0%,
    hsla(0, 100%, 75%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(48, 96%, 53%, 1) 0%,
    hsla(0, 100%, 75%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(48, 96%, 53%, 1) 0%,
    hsla(0, 100%, 75%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FACC15", endColorstr="#7DD3FC", GradientType=1 );
}

.about-section-gradient {
  background: hsla(0, 100%, 75%, 1);

  background: linear-gradient(
    270deg,
    hsla(0, 100%, 75%, 1) 0%,
    hsla(0, 100%, 34%, 1) 50%,
    hsla(0, 100%, 16%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(0, 100%, 75%, 1) 0%,
    hsla(0, 100%, 34%, 1) 50%,
    hsla(0, 100%, 16%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(0, 100%, 75%, 1) 0%,
    hsla(0, 100%, 34%, 1) 50%,
    hsla(0, 100%, 16%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF7E7E", endColorstr="#AC0000", GradientType=1 );
}

.skills-gradient {
  background: hsla(0, 100%, 16%, 1) 0%;
  background: linear-gradient(
    270deg,
    hsla(0, 100%, 16%, 1) 0%,
    rgb(3, 12, 32) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(0, 100%, 16%, 1) 0%,
    rgb(3, 12, 32) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(0, 100%, 16%, 1) 0%,
    rgb(3, 12, 32) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF7E7E", endColorstr="#AC0000", GradientType=1 );
}

.projects-gradient {
  background: rgb(3, 12, 32);
  background: linear-gradient(
    270deg,
    hsla(221, 83%, 7%, 1) 0%,
    hsla(158, 75%, 27%, 1) 100%
  );
  background: -moz-linear-gradient(
    270deg,
    hsla(221, 83%, 7%, 1) 0%,
    hsla(158, 75%, 27%, 1) 100%
  );
  background: -webkit-linear-gradient(
    270deg,
    hsla(221, 83%, 7%, 1) 0%,
    hsla(158, 75%, 27%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#FF7E7E", endColorstr="#AC0000", GradientType=1 );
}

.selection-text-background::selection {
  background-color: rgba(57, 212, 114, 0.92);
  color: black;
}

.glassMorphism {
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.iconBox {
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}
.iconBox:hover {
  border-radius: 10px;
  padding: 7px;
  border: 1px solid rgb(191, 191, 191);

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);

  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}

.success-box {
  animation-name: succesBoxAnimate;
  animation-duration: 3s;
}

@keyframes succesBoxAnimate {
  from {
    background-color: rgb(23, 255, 23);
  }
  to {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.scale-animation {
  animation: scaleIcon 3s ease alternate infinite;
}

@keyframes scaleIcon {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

.rotate-animation {
  animation: rotateIconBox 3s linear forwards infinite;
}
.rotate-animation:hover {
  background-color: #ff13623d;
}

@keyframes rotateIconBox {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-box-animation {
  animation: contactBoxAnimation 1s linear forwards;
}

@keyframes contactBoxAnimation {
  from {
    bottom: -233px;
  }
  to {
    bottom: 25px;
  }
}
