

span.Typewriter__wrapper
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #00ff37 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}




.ping {
	 background: #fff;
	 border-radius: 50%;
	 border: 50px solid #222;
	 width: 20px;
	 height: 20px;
	 animation: load 1.5s ease-out infinite;
}

 @keyframes load {
	 0% {
		 background: #fff;
		 border: 0px solid #fff;
	}
	 50% {
		 background: #fff;
		 border: 100px solid #222;
	}
	 100% {
		 background: #fff;
		 border: 0px solid #222;
	}
}

.header-styles {
  background-color: #ffd700;
}