@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  overflow-x: hidden;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f500;
}

::-webkit-scrollbar {
  width: 7px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(71, 14, 14);
  background-image: -webkit-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
}
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(71, 14, 14);
}
.light ::-webkit-scrollbar-thumb {
  background-color: rgb(30, 71, 14);
}
.rainbow ::-webkit-scrollbar-thumb {
  background-color: rgb(30, 71, 14);
}

/* ------------------------------------------------------------------ */

.ag-courses_item {
  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}
.ag-courses-item_link {
  padding: 30px 20px;
  overflow: hidden;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.dark .ag-courses-item_link:hover h2 {
  transition: color 1s ease;
  color: white;
}
.dark .ag-courses-item_link:hover p {
  transition: color 1s ease;
  color: white;
}
.dark .ag-courses-item_link h2 {
  transition: color 1s ease;
}
.dark .ag-courses-item_link p {
  transition: color 1s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: var(--primarycolor);
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ag-courses_item:nth-child(1n) .ag-courses-item_bg {
  background-color: var(--primarycolor);
}
